body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px 0px rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
    position: relative;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

h3 {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
}

h4 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.nav-list,
.benefit-list,
.advantages-list,
.social-list,
.selection-list,
.sorting-list, 
.sorting-arrow, 
.hotel-list {
    list-style-type: none;
}

/*Декоративные элементы - навигация*/

.nav-list a:hover,
.nav-list a:focus {
    color: #81b3d2;
}

.nav-list a:active {
    color: #000000;
    opacity: 0.3;
}

.nav-activ {
    color: #766357;
}

/*Первая страница*/

.header-wrap{
    line-height: 26px;
    position: relative;
}

.nav-logo {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    z-index: 1;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-list a{
    font-weight: 700; 
    width: 239px;
    display: block;
    text-align: center;
    padding: 16px 0;
}

.nav-list li:nth-child(3){
    margin-left: auto;
}

.intro-wrap {
    margin: 0;
    padding: 0;
  }

.intro-bg {
    min-height: 505px;
    background-color: #669ec0;
    background-image: url("../img/intro-mask.svg"), url("../img/background.jpg");
    background-repeat: no-repeat no-repeat;
    background-position: center 450px, center -83px;
}

.intro-bg img {
    padding-top: 76px;
    display: block;
    margin: auto;
}

.intro-info {
    line-height: 26px;
	text-align: center;
    display: flex;
    flex-wrap: wrap;
	flex-direction: column;
    align-items: center; 
    background-color: #ffffff; 
    padding-top: 61px;
    padding-bottom: 56px;
  }

.intro-title {
    font-size: 21px;
    font-weight: 700;
    max-width: 440px;
    margin: 0;
    margin-bottom: 38px;
}

.intro-text {
    color: #333333;
    margin: 0;
}

.advantage {
    text-align: center; 
}

.advantage-first {
    display: flex;
    flex-wrap: wrap;
    background-color: #81b3d2;
}

.advantage-info {
    color: #ffffff;  
    width: 400px;
    padding-top: 46px; 
    padding-bottom: 64px;
}

.advantage-info h2 {
    margin: 0;
}

.advantage-info p {
    width: 280px;
    margin: 0 auto;
    margin-top: 21px;
}

.img-wrap {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.benefit-list {
    color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1060px;
    min-height: 311px;
    margin: auto;
    padding: 0;
    padding-top: 56px;
    padding-bottom: 60px;
}

.benefit-item {
    width: 284px;
}

.benefit-item h3 {
    margin: 0;
    margin-top: 32px;
}

.benefit-item p {
    margin: 0;
    margin-top: 26px;
}

.icon-house::before {
	content: url("../img/icon-house.svg");
	background-repeat: no-repeat;
}

.icon-food::before {
	content: url("../img/icon-food.svg");
	background-repeat: no-repeat;
}
.icon-souvenir::before {
	content: url("../img/icon-souvenir.svg");
	background-repeat: no-repeat;
}

.advantage-second {
    display: flex;
    flex-direction: row-reverse;
    background-color: #81b3d2;
}

.adv-info-second {
    padding-top: 49px; 
    padding-bottom: 65px;
}

.advantage-info p {
    width: 303px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
    justify-content: space-between;
    min-height: 256px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
   
   
}

.advantages-item {
    color: #333333; 
    margin: auto;
   
}

.advantages-item:first-child {
    width: 208px;
}

.advantages-item:nth-child(2) {
    width: 262px;
}

.advantages-item:last-child {
    width: 247px;
}

.booking-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.booking-info {
    line-height: 24px;
    color: #333333;
    margin: 30px;
}

.btn-booking {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #766357;
    width: 568px;
    padding: 32px;
    border: none;
}

.form-wrap {
    font-weight: 700;
    line-height: 26px;
}

.booking-form {
    width: 568px;
    background-color: #ffffff;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15); 
    box-sizing: border-box;
    padding: 55px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2; 
}

.check-in, 
.check-off,
.detail-booking {
    display: flex;
    margin-bottom: 30px;
}

.check-in-date {
    margin: auto;
    margin-right: 5px;
}

.check-off-date {
    margin: auto;
    margin-right: 3px;
}

.booking-form input[type="text"] {
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    width: 345px;
    height: 36px;
    padding-left: 13px;
}

.booking-form input[type="text"]::placeholder {
    color: #000000;
}

.icon-calendar {
    width: 38px;
    height: 38px;
    border: none;
    background: transparent;
    padding-top: 6px;
    right: 56px;
    position: absolute;
    cursor: pointer;
}

.adults,
.children {
    display: flex;
    align-items: center;
    width: 100%;
}

.adults label {
    margin-right: 27px;
}

.children label{
    margin-left: 53px;
    margin-right: 27px;
}

.booking-form input[type="number"] {
    line-height: 26px;
    font-weight: 700;
    background-color: #f2f2f2;
    width: 36px;
    height: 36px;
    border: 0;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-plus,
.btn-minus {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #cacaca;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    padding: 0;
    border: none;
    cursor: pointer;
}


.btn-search {
    font-size: 21px;
    font-weight: 26px;
    font-weight: 700;
    width: 458px;
    min-height: 58px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    border: 0;
}

.map {
    height: 594px;
    margin: 0;
    padding: 0;
}

.map iframe {
    position: absolute;
    z-index: 1;
}


/*Декоротивные элелементы - форма 1*/

.btn-booking:hover,
.btn-booking:focus {
    background-color: #604e43;
}

.btn-booking:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}


.booking-form input[type="text"]:hover,
.booking-form input[type="number"]:hover {
    background-color: #ebebeb;  
}

.booking-form input[type="text"]:focus,
.booking-form input[type="number"]:focus {
    border: 2px solid #e5e5e5;
    background-color: #ffffff; 
}

.icon-calendar svg path{
    fill: #cacaca;
}

.icon-calendar svg:hover path,
.icon-calendar svg:focus path {
    fill: #000000;
}

.icon-calendar svg:active path{
    fill: #81b3d2;
}

.btn-plus:hover,
.btn-plus:focus,
.btn-minus:hover,
.btn-minus:focus {
    color: #000000;
}

.btn-plus:active,
.btn-minus:active {
    color: #81b3d2;
}

.btn-search:hover,
.btn-search:focus {
    background-color: #669ec0;
}

.btn-search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

/*Подвал*/

.footer-wrap { 
    line-height: 26px;
    min-height: 120px;
    background-color: rgba(253, 253, 253, 0.9);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: inherit;
    z-index: 3;
}

.contact {
    font-size: 21px;
    font-weight: 700;
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 132px;
}


.social {
    width: 33.33%;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
  
.social-list li{
    width: 46px;
    height: 48px;
    margin-right: 6px;
    background-color: #81b3d2;
}

.twitter::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 48px;
    background-position: 50% 50%;
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
}

.facebook::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 48px;
    background-position: 50% 50%;
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
}
  
.youtube::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 48px;
    background-position: 50% 50%;
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
}

.copyright {
    margin-right: 101px;
	display: flex;
	align-items: center;
    width: 197px;
}

.copyright a{
    display: inline-block;
    margin-left: 8px;
}

/*Декоративные элементы - подвал*/

.contact:hover span,
.contact:focus span,
.contact:hover a,
.contact:focus a {
    color: #81b3d2;
}
  
.contact:active span,
.contact:active a {
    color: rgba(0, 0, 0, 0.3);
}

.social-list li:focus,
.social-list li:hover {
    background-color: #669ec0;
}

.social-list li:active {
    background-color: #5496bd;
}

.social-list li:active a {
    opacity: 0.3;
  }

.footer-logo:hover path {
	fill: #81b3d2;
}

.footer-logo:active path,
.footer-logo:focus path {
    fill: #bdbbbc;
}
  
/*Внутренняя страница*/

.selection {
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    min-height: 217px;
    padding-top: 31px;
}

.selection-wrap {
    box-sizing: border-box;
    width: 1060px;
    margin: auto;
}

.selection-form {
    align-items: center;
    display: flex;
}

.filters {
    text-align: left;
    border: none;
	margin: 0;
	padding: 0;
}

.filters legend {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}

.selection-list {
    padding: 0;
    margin: 0;
}

.filters:nth-of-type(2) {
    margin-left: 120px;
    margin-right: auto;
}

.filter-item {
    font-size: 14px;
    margin-bottom: 25px;
    margin-left: 40px;
}

.filter-item label{
    position: relative;
}

.filter-item label::before {
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    top: -2px;
    left: -38px;
}

.filter-item:checked label::before {
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    top: -2px;
    left: -38px;
}

.filter-range {
    width: 330px;
    margin: 0;
}

.filter-range-title {
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 9px;
}

.price-controls {
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    position: relative;
    border-radius: 2px;
}

.price-controls label {
    display: inline-block;
    line-height: 0px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background-color: white;
    transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    margin-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;

}


.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-cost {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    height: 32px;
}

.sorting-filter {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
    height: 540px;
}

.sorting-wrap {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    min-height: 86px;
    display: flex;
    align-items: center;
}

.sorting-wrap span:first-child{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 72px;
}
.sorting-wrap span:nth-child(2) {
    padding-left: 49px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
}

.sorting-item {
    margin-left: 33px;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-activ a {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-arrow {
    display: flex;
    margin-left: 452px;
}

.arrow-item {
    margin-right: 12px;
}
.arrow-item path {
    fill:#cacaca;
}

.result-wrap {
    min-height: 453px;
    background-color: white; 
}

.hotel-list{
    margin: 0;
    padding: 0;
}

.hotel-item {
    box-sizing: border-box;
    min-height: 150px;
    padding-top: 30px;
    border-top: 1px solid #f2f2f2;
}

.hotel-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.parameters-hotel {
    display: flex;
    align-items: center;
    width: 1060px;
    margin: auto;
}

.hotel-info {
    text-align: left;
    width: 258px;
    margin-right: auto;
    margin-left: 30px;
}

.hotel-info h3 {
    line-height: 26px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.hotel-info p {
    color: #333333;
    display: inline-block;
    width: 110px;
    margin-top: 5px;
    margin-bottom:10px;
}

.btn-detail,
.btn-reserve {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    height: 24px;
    display: inline-block;
    padding-top: 3px; 
}

.btn-detail {
    width: 110px;
    background-color: #81b3d2; 
    display: inline-block;
}

.btn-reserve {
    width: 142px;
    background-color: #766357; 
    display: inline-block;
}

.rating {
    text-align: center;
}

.rating p {
    color: #666666;
    display: block;
    width: 110px;
    margin-top: 40px;
    margin-bottom: 0;
    line-height: 27px;
    text-align: center;
    background-color: #f2f2f2;
}

.rating img {
    margin-left: 3px;
}

.footer-catalog {
	position: static;
}

/*Декоративные элементы - вторая страница*/

.btn-cost:hover,
.btn-cost:focus {
    color: #000000;
    background-color: #ffffff;
}

.sorting-item a:hover,
.sorting-item a:focus {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
    color: #000000;
    border-bottom: none;
}

.arrow-item path:hover,
.arrow-item path:focus {
    fill: #231F20;
}

.arrow-item path:active,
.arrow-activ path {
    fill: #81b3d2;
}

.hotel-info h3:hover,
.hotel-info h3:focus {
    color: #81b3d2;
}

.hotel-info h3:active {
    color: inherit;
    opacity: 0.3;
}

.btn-detail:hover,
.btn-detail:focus {
    background-color: #669ec0;
}

.btn-detail:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.btn-reserve:hover,
.btn-reserve:focus {
    background-color: #604e43;
}

.btn-reserve:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}